* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 94%;
  margin: 0 auto;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.115em;
  color: #333;
  line-height: 1.4em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2em
}

h2 {
  font-size: 1.7em
}

h3 {
  margin-top: 3em;
  font-size: 1.3em;
}

h4 {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: #09f;
}

.block-text{
  max-width: 700px;
  margin-top: 3em;
  font-size: 1.1em;
  font-family: 'EB Garamond', serif;
}

.block-text h3, h2{
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}


pre{
  margin-left: 2em;
  font-size: 1em;
  background-color: #fafafa;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
code {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #fafafa;
}
a:hover {
  text-decoration: underline;
  cursor:pointer;
}

div.site-banner{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 2.2em;
  padding: 6px 0px 26px 0px;
}

span.site{
  font-family: 'Roboto Mono', monospace;
}

footer{
  padding: 20px 0px 0px 0px;
  bottom: 0%;
}

.controls {
  font-size: 0.9em;
  color: #666;
}

p{
  margin-block-start: 0em;
}

input[type="text"] {
  color: #666;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #BBB;
}

#go-button, #upload-csv, #save-button {
  background-color: #DDD;
  border: none;
  padding: 5px 30px;
  border-radius: 3px;
  font-size: 0.9em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
  color: #666;
}

#go-button:hover, #upload-csv:hover, #save-button:hover{
  background-color: #999;
  transition: transform .5s;
  color: #FFF;
}

#save-button-disabled{
  background-color: #E5E5E5;
  border: none;
  padding: 5px 30px;
  border-radius: 3px;
  font-size: 0.9em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  color: #BBB;
}

#upload-csv-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

select {
  background-color: #EEE;
  min-width: 120px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #666;
}

#tweak-box{
  width: 97%;
  height: 97%;  
  min-height: 300%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0px;
  font-size: 0.95em;
  line-height: 125%;
  color: #445;
  box-sizing: border-box;
  resize: none;
}

.opts-hdr{
  margin-bottom: 5px;
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.visible {
  visibility: visible;
}

.lbl {
  font-size: 0.75em;
  color: #09F;
  margin-top: 2px;
}

.wide {
  min-width: 325px;
}

.show-hide, .show-hide:hover {
  margin-left: 30px;
  text-decoration: none;
  color: #999;
}

.local-remote, .local-remote:hover {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  font-style: italic;
  text-decoration: none;
}

.local{
  color: #0A0;
}

.remote{
  color: #F44242;
}


.row-label {
  margin-top: 20px;
  margin-left: 5px;
  text-decoration: none;
  color: #999;
}

.row-sep {
  margin-left: 3px;
  text-decoration: none;
  color: #999;
}

.wrapper-banner {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
  position: relative;
  margin-bottom: 20px;
}

.banner1 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.banner2 {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  position: absolute;
  bottom: 12px;
}

.main {
//  height: 800px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 50px 420px 40px 30px 340px 270px;
  grid-gap: 3px
}

.wrapper-collapsed {
  grid-template-rows: 50px 420px 40px 30px 30px 20px;
}


/* Load button */
.item3 {
  grid-column: 1 / 2;
  grid-row: 1/2;
}

/* loaded filename label */
.item4 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* data entry area */
.item5 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

/* display options header*/
.item6 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}


.controls1l{
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.controls1m{
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.controls1r{
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.controls2l{
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.controls2m{
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.controls2r{
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

/* process button */ 
.item9 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

/* save button */ 
.item10 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

#svg {
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}

#editor{
  border: 1px solid lightgray;
  margin: 2px;
}

.ace_gutter {
  background: #F8F8F8 !important;
  color: #777 !important;
}


@media only screen and (min-width: 768px) {
  body {
    padding-top: 50px;
  }  
  .wrapper {
    grid-template-columns: 200px 200px 260px 20px auto;
    grid-template-rows: 55px 30vh 5px 30px 340px 270px 40px;
  }
  .wrapper-collapsed {
    grid-template-rows: 55px 72vh 5px 30px 7px 7px 40px;
  }
  #tweak-box{
    height: 500px;
  }
  #svg {
    grid-column: 5 / 6;
    grid-row: 1 / 7;
   }

  .wrapper-banner {
    display: grid;
    grid-template-columns: 350px 435px;
    grid-template-rows: 50px;
    grid-gap: 3px;
  }

  .banner1 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .banner2 {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

}


.svg {
  margin-top: 15px;
}

.error {
  padding-top: 20px;
  color: red;
}

.warn {
  padding-top: 20px;
  color: orange;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 0.9em;
  visibility: hidden;
  width: 160px;
  background-color: #777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 2.0s;
  opacity: 0.7;
}
